@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family: "Roboto", sans-serif;
}
/* .mainContainer{
    max-height: max-content;
    max-width: 1380px;
    margin: 0 auto;

} */
body{
    background-color:#212121;
    /* color: #4797b9; */
   /* color: #b94747; */
    color: white;
    font-size:16px;
    line-height:24px; 
    /* max-height: max-content;
    max-width: 1380px;
    margin: 0 auto; */
}

a{
    text-decoration: none ;
    color: #fff;
    transition:0.3s; 
  }

                            /* --------------Header Area--------------- */
.header{
    display: flex;
    /* background-color:#435677; */
    background-color: #212121;
    width: 100%;
    padding: 25px 0px;
    justify-content: space-between;
}
.header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #202020;
  padding: 15px;
}
.navBar ul li:first-child {
  margin-right: auto; 
}  

.navBar ul{
  display: flex;
  align-items: center; 
}
.navBar ul li{
  margin: 0 15px;
}
.navBar ul li a{
  text-transform: capitalize;
  display: block;
}
.navBar ul li a.active{
  color: #fed700;
} 
.navBar ul li a:hover{
  color:#fed700;
}
/* .navBar .menu_icon{
  color:#fff;
  font-size: 18px;
  cursor: pointer;
  display: none;
} */
.logoContainer{
    padding-left: 50px;
}
.logo{
    font-family: cursive;
    font-size: 24px;
    font-weight: 200;
    /* color: #b94747; */
}
.navBar{
    display: flex;
    /* width: 40%; */
}
.navBar ul{
    display: flex;
    list-style: none;
    gap:25px;
}

                            /* ---------------------Home Page-------------------------- */

.homeContainer{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem; 
    gap:40px;
}

.homeContainer .profilePhoto{
    width: 300px;
    height:  300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #444444;
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5)
}

.profilePhoto img{
    height: 100%;
    width: 100%;
    transition: 0.5s;
}
.homeContainer .profilePhoto img:hover{
    transform: scale(1.2);
  }
  .profileText{
    max-width: 750px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .profileText h5{
    color: #e5e5e5;
    font-size: 14px;
  }
  .profileText h1{
    color: #fed700;
    font-size: 43px; 
    font-weight: 700;
  }
  .profileText p{
    color:#e5e5e5;
    text-align: justify;
  }
  .nameColor{
    color: #fed700;
  }
  .profileText .socialBtns {
    color: #e5e5e5;
    display: flex;
    font-size: 25px;
    transition: 0.5s;
    gap: 20px;
    margin-left: 6px;
}
  
  .profileText .social i:hover{
    color:#fed700;
    transform: rotate(360deg);
  }
  .btnGroup{
    margin: 14px 0;
  }
  .btnGroup .btn{
    border-color: #d5d5d5;
    color: #fff;
    background-color: #333;
    padding:15px 23px;
    margin: 5px 0;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
  }
  .btn.active{
    border-color: #fed700;
  }

                              /* ---------------------About Page-------------------------- */

.aboutContainer{
    display: flex;
    padding: 4rem;
    gap:40px;
}
.aboutMe{
    text-align: justify;
}
.aboutMe p:nth-child(1){
    font-size: 40px;
    font-weight: 700;
    color: #fed700;
    margin-bottom: 22px;

}
.aboutMe p:nth-child(2){
    font-size: 16px;
    color: #e5e5e5;
    margin-bottom: 22px;

}
.aboutMe p:nth-child(3){
    font-size: 16px;
    color: #e5e5e5;
    margin-bottom: 22px;

}
.aboutMe p:nth-child(4){
    font-size: 16px;
    color: #e5e5e5;
    margin-bottom: 22px;
}
.skillsContainer{
    width: 800px;
    margin-top: 47px;
}
.skillsContainer > h2{
    color: #fed700;
   
}
.skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 15px;
    row-gap: 10px;
}
.skillsCard{
    height: 70px;
    width: 95px;
    text-align: center;
    padding-top: 10px;
}

.skillsCard:hover{
    background-color: rgba(111, 333, 555, 0.5);
    border-radius: 7px;
}

.skillLogo img{
    height: 3%;
    width: 25px;
    transition: 0.3s;
}
.skillLogo img:hover{
    transform: scale(1.2);
  }
.skillName{
    color:#e5e5e5;
    font-size: 13px;
}

                        /* -------------------------------Education and Internship--------------------- */
.education-content{
  padding: 0rem 4rem;
  height: 900px;
}
.education-content .row{
  display: flex;
  border-radius: 5px;
  height: 600px;
  margin-bottom: 290px;
}

.education-content .title{
  color: #fed700;
}
.education-content .row .education,
.education-content .row .internship
{
  color: #e5e5e5;
  flex:0 0 50%;
  max-width: 50%;
  margin-top: 30px;
} 
.education-content  h3.title{
  font-size:24px;
  margin-bottom: 30px;
  font-weight: 700;
}
.education-content .row.timeline-box{
  flex:0 0 100%;
  max-width: 100%;  
}
.education-content .row .timeline{
  padding: 30px 15px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  width: 100%;
  position: relative;
}
.education-content .row .timeline-item{
  position:relative;
  padding-left: 37px;
  padding-bottom: 50px; 
}
.education-content .row  .internship .timeline-item{
  position:relative;
  padding-left: 37px;
  padding-bottom: 30px; 
}
.education-content .row .timeline-item:last-child{
  padding-bottom: 0;
}
.education-content .row .timeline-item::before{
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background-color: #fed700;  
}
.education-content .row .circle-dot{
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #e5e5e5;
}
.education-content .row .timeline-title  {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12px;
}
.education-content .row .internship .timeline-title  {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 8px;
}
.education-content .row .timeline-text{
  line-height: 25px;
  font-size: 16px;
  text-align: justify;
}

                        /* -------------------------------Projects--------------------- */
.projectsContainer{
  /* padding: 90px 0; */
  padding: 0rem 4rem;

}
.projectTitle{
  margin-bottom: 60px;
  text-align: center;
}
.projectTitle h4{
  text-transform: uppercase;
  font-size: 40px;
  line-height: 40px;
  color: #fed700;
  margin-bottom: 20px;
}
.projectTitle p{
  color: #e5e5e5;
}
.myProjects{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}
.project{
    /* padding: 30px 15px; */
    color: #e5e5e5;
    border: 2px solid #e5e5e5;
    border-radius: 10px;
    width: 100%;
    position: relative;
    padding: 25px;
    text-align: center;
    flex-basis: 32%;
    transition: .3s;
}
.project i{
  background-color: #fed700;
  width: 60px;
  height: 60px;
  color: #333;
  font-size: 26px;
  line-height: 60px;
  border-radius: 50%;
}
.project h4{
  font-size: 26px;
  text-transform: capitalize;
  margin: 20px 0;
}
.project p{
  text-align: justify;
}
.project:hover{
  border-color: #fed700;
}

            /* ----------------------------------Contact Me------------------------------- */
.contact-content{
  /* padding: 100px 0; */
  padding: 5rem 4rem;
  color: #fff;
  text-align: center;
}
.contact-content .contact-title h4{
  font-size: 40px;
  text-transform: capitalize;
  color: #fed700;
  padding-bottom: 10px;
}
.contact-content .contact-title p{
  padding-bottom: 20px;
}
.contact{
  max-width: 700px;
  margin: auto;
}
.contact input,.contact textarea{
  width: 100%;
  padding: 15px;
  border: 0;
  margin-bottom: 10px;
}

.contact .submit{
  width: auto;
  background-color: #fed700;
  padding: 10px 40px;
  font-weight:bold ;
  font-size: 18px;
}
.contact .submit:hover{
  transform: scale(1.1);
  cursor: pointer;
}
#msg{
  color: #fff;
  font-size: 20px;
  margin-top: -8px;
  display: block;
}
/*---------------------------Footer---------------------------*/
.footer {
  max-width: 950px;
  margin: 0 auto;
  padding: 15px 0 26px;
  border-top: 1px solid rgba(255, 255, 255, 0.1); 
  color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer .message {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 10px;
}

.copyright {
  font-size: 12px;
}


/* Mobile Screen */
@media screen and (max-width: 767px) {
  .body{
      height: 100%;
      width: 767px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .header{
    width: 767px;
  }

  /* .navBar {
   width:767px;
    margin-left:40px;
}
.navBar ul {
  gap: 10px;
} */
.navBar {
  width: 100%; /* Set to 100% for better responsiveness */
  margin: 0; /* Remove margin to center align on the full width */
  display: flex;
  align-items: center; /* Center items horizontally */
  margin-left: 40px;

}

.navBar ul {
  display: flex;
  gap: 10px; /* Add some space between items */
  width: 85%;

}

.navBar ul li {
  margin: 0; /* Remove margin for better alignment */
  text-align: center; /* Center align text */
}
.navBar ul li:first-child {
  margin-right: 0; 
}  



  .homeContainer{
    flex-direction: column;
    width: 615px;
  }
  .aboutContainer{
    flex-direction: column;
    width: 615px;

  }
  .skillsContainer{
    width: 380px;
  }
  .education-content{
    width: 615px;
  }
.education-content .row .education{
  flex: 0 0 45%;
  margin-right: 30px;
}

.projectsContainer{
    width: 615px;
    margin-top: 150px;
  }
.project{
    flex-basis: 47%;
}
.contact-content{
  width: 615px;
}
.footer {
  width: 650px;
}
}

 /* Tab Screen */
 @media only screen and (min-width: 768px) and (max-width: 1024px)  {
  .mainContainer{
    width: 760px;
  }
  .education-content .row{
    gap:40px;
  }
  .education-content .row .education{
    width: 35%;
  }
  .education-content .row .internship{
    width: 43%;
  }
  .myProjects{
    column-gap: 8px;
  }
  .homeContainer .profilePhoto {
    width: 970px;
    height: 250px;
}
.header{
  margin: auto;
}
.header.sticky{
  margin: auto;
  position: fixed;
  top: 0;
  width: 100%
}

 }

 /* Desktop Screen */
 @media only screen and (min-width: 1025px){

 }

